link(rel="stylesheet", href="/layout/elements/__button/__button.css")
link(rel="stylesheet", href="__button.css")
mixin button(type,text)
    button(class = "" + type)= text

+button("__button__reg", "ЗАРЕГЕСТРИРОВАТЬСЯ")